@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --main-text: #667bb5;
  --secondary-text: #ACB1D6;
  --bg-light: #DBDFEA;
  --bg-secondary: #bdc9e9;
  --bg-creame: #FFEAD2;
}

*{
  margin: 0;
}

body{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: var(--bg-light);
}

.nav{
  display: flex;
  padding: 2rem;
  align-items: center;
}

.nav-navigation{
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  color: var(--main-text);
}

.nav-navigation a:hover{
  color: #7f93cb;
}

.nav-logo, .nav-register{
  flex-grow: 0.8;
  display: flex;
  justify-content: center;
}

a{
  color: unset;
  text-decoration: none;
  margin-right: 2rem;
}


.btn{
  border: none;
  width: 100px;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transition: all ease 0.25s;
}

.login{
  margin-right: 0.6rem;
}

.secondary-btn{
  background: var(--bg-secondary);
  color: var(--main-text);
  font-weight: 600;
}

.primary-btn{
  background-color: var(--main-text);
  color: #ffffffd9;
  font-weight: 600;
}

.primary-btn:hover{
  background-color: #8c9cca;
}

.secondary-btn:hover{
  background-color: #c5d0ed;
  
}

.hero-input-group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
 }
 
 .hero-input {
  min-width: 450px;
  height: 50px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .hero-input::placeholder {
  color: #9e9ea7;
 }
 
 .hero-input:focus, input:hover {
  outline: none;
  border-color: var(--main-text);
  background-color: #ffffffda;
  box-shadow: 0 0 0 4px rgba(92, 103, 173, 0.1);
 }
 
 .search-icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 
.search-btn{
  margin-left: -40%;
  height: 50px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hero{
  max-height: 88vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  max-height: 88vh;
}
 
.hero-right img{
  height: 2880px;
  width: 1920px;
  max-height: 88vh;
  object-fit: contain;
}

.hero-left{
  padding: 0 7rem;
  padding-top: 10rem;
  padding-right: 0;
}

.hero-left h1{
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
 
.hero-left p{
  color: var(--main-text);
  margin: 1.5rem 0;
  margin-bottom: 2rem;
}

 
 /* LOGIN & REGISTER STYLES */

 .login-page{
  display: grid;
  max-height: 100vh;
  grid-template-columns: 50% 50%;
 }

 .login-left{
  height: 100vh;
  position: relative;
 }

 .login-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .login-left::after{
  z-index: 7;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: var(--main-text);
  opacity: 0.3;
 }

.login-right{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--main-text);
  border-left: 5px solid #fff;
}

.login-form-container{
  z-index: 6;
  background-color: var(--bg-secondary);
  padding: 1rem;
  display: flex;
  border-radius: 14px;
  width: 70%;
  min-height: 70%; 
  min-width: 400px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.148) 0px 15px 25px 0px;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-left-svg{
  z-index: 5;
  height: 100%;
  width: 100%;
  position: absolute;
}

path {
  fill: none;
  stroke: #7387bf;
}
  


.login-form h2{
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #fff;
}

.login-form input{
  padding: 0.8rem 1.2rem;
  margin: 1rem;
  border: 1px solid #b6b6b6;
  margin-top: 0;
  border-radius: 8px;
}

.login-form a, .login-form p{
  margin-bottom: 1rem;
  margin-right: 0;
  text-align: center;
}

.login-btn{
  margin: auto 1rem;
  width: auto;
  margin-bottom: 1rem;
}

.hr-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-div p{
  margin: auto 5%;
}

.login-form hr{
  border: 1px solid #eaeaea;
  width: 40%;
  height: 0px;
}

.social-logins{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.social-logins button{
  width: 95%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login-icon{
  margin-right: 10px;
  color: #fff;
}

.social-login-icon path{
  fill: white;
}

.google-btn:hover{
  background-color: #e1e6ea;
}

.linkedin-btn{
  background-color: var(--main-text);
  color: #fff;
}
/*Categories styling*/
/* LandingCategories.css */
.landing-categories {
  display: flex; /* Display children in a row */
  justify-content: space-around;
}

.category {
  text-align: center;
  flex: 1; /* Equal width for each category */
  transition: background-color 0.3s;
}

.category svg {
  width: 50px;
  height: 50px;
  fill: #3498db; /* You can customize the color */
}

.category p {
  margin-top: 8px;
  font-size: 14px;
}
.category:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}



.featured{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featured-job-list-container{
  margin: 0 2rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-job-list{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 400px);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.job-card{
  background-color: var(--bg-secondary);
  padding: 1rem;
}